version: '3.8'

services:
  mysqldb:
    image: mysql:8
    restart: unless-stopped
    env_file: .env
    environment:
      - MYSQL_ROOT_PASSWORD=$MYSQLDB_ROOT_PASSWORD
      - MYSQL_DATABASE=$MYSQLDB_DATABASE
    ports:
      - $MYSQLDB_PORT:3306
    volumes:
      - db:/var/lib/mysql

  #  phpmyadmin:
  #    depends_on:
  #      - mysqldb
  #    image: phpmyadmin/phpmyadmin
  #    links:
  #      - mysqldb
  #    environment:
  #      PMA_HOST: mysqldb
  #      PMA_PORT: $MYSQLDB_PORT
  #      PMA_PASSWORD: $MYSQLDB_ROOT_PASSWORD
  #      PMA_USER: $MYSQLDB_USER
  #    restart: always
  #    ports:
  #      - 8081:80
  app:
    depends_on:
      - mysqldb
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    env_file: .env
    ports:
      - $SPRING_PORT:8080
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqldb:3306/sharingblog
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SPRING.DATASOURCE.DRIVER-CLASS-NAME=com.mysql.cj.jdbc.Driver
      - SPRING_JPA_HIBERNATE_DDL-AUTO=update
      - SPRING_JPA_SHOW-SQL= true
    volumes:
      - .:/app
volumes:
  db: